/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

==============================================
*/
/* 0. Imports ================================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 1. Variables ================================= */
/* 2. Mixins ================================= */
.media, .intro-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-center;
  -ms-flex-align: flex-center;
  align-items: flex-center; }
  .media .media-body, .intro-cta .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .card .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .card .text :last-child {
      margin-top: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 20px 0; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1rem; }

p, ul, ol, a {
  margin: 10px 0;
  line-height: 1.2em; }

ol {
  margin-left: 20px; }
  ol li {
    list-style: decimal; }

a {
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: underline; }

.video-mask {
  position: relative; }
  .video-mask video {
    width: 100%; }
  .video-mask .mask-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.intro-cta {
  padding: 200px 50px;
  color: white;
  background-image: url("../img/Footer_Shape.svg"), url("../img/mountain-view.jpg");
  background-size: 100%, cover;
  background-position: 0 101%, center;
  background-repeat: no-repeat; }

.text-content {
  padding: 50px; }

/***************************************************
 * Generated by SVG Artista on 5/18/2020, 9:43:55 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
svg .svg-elem-1 {
  stroke-dashoffset: 370.77734375px;
  stroke-dasharray: 370.77734375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  -o-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s; }

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: #db9e16; }

svg .svg-elem-2 {
  stroke-dashoffset: 488.66766357421875px;
  stroke-dasharray: 488.66766357421875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  -o-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s; }

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: #8db29c; }

svg .svg-elem-3 {
  stroke-dashoffset: 836.9329833984375px;
  stroke-dasharray: 836.9329833984375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.24s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
  -o-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.24s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
  transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.24s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s; }

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: #4b6b58; }

svg .svg-elem-4 {
  stroke-dashoffset: 180.83078002929688px;
  stroke-dasharray: 180.83078002929688px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s;
  -o-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s;
  transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s; }

svg.active .svg-elem-4 {
  stroke-dashoffset: 0; }

svg .svg-elem-5 {
  stroke-dashoffset: 491.66766357421875px;
  stroke-dasharray: 491.66766357421875px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  -o-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s; }

svg.active .svg-elem-5 {
  stroke-dashoffset: 0; }

svg .svg-elem-6 {
  stroke-dashoffset: 836.9329833984375px;
  stroke-dasharray: 836.9329833984375px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
  -o-transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
  transition: stroke-dashoffset 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s; }

svg.active .svg-elem-6 {
  stroke-dashoffset: 0; }
